## Titanic数据分析

Kaggle [比赛](https://www.kaggle.com/c/titanic)

泰坦尼克号生还乘客数据

scikit-learn

## 1. 加载数据

In [1]:
import numpy as np
import pandas as pd

In [2]:
train = pd.read_csv('titanic-datas/train.csv')
test = pd.read_csv('titanic-datas/test.csv')

In [3]:
train.shape

(891, 12)

## 2. 是否有缺失值的数据

In [4]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

## 补全数据集